@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-mulish: "Mulish", sans-serif;
    --font-jetBrains: "JetBrains Mono", monospace;
    --breakpoint-break: 64rem;
}

html {
    scroll-behavior: smooth;
    transition: ease all 1s;

}